# Ignore everything except whitelisted items
*

# Whitelisted files
!.gitignore
!.zshrc
!LICENSE
!DOTFILES-README.md
!.vimrc
!.ideavimrc
!.config/
!.config/nvim
!.config/nvim/*
!dotfiles-scripts
!dotfiles-scripts/*
!ssp-env.sh
!.ssh/
!.ssh/config
!.pip/
!.pip/pip.conf
!.npmrc

